body {
 
  text-align: center;
}
#canvas {
    border: 1px dotted;

  }

  #game-over,#game-won{
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top:0;
    left: 0;
  }
  #game-won {
    background-image: url(../img/youWin.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .flex {
    display: flex;
  }
  .visible {
    display: block!important;
  }